@using CkanDotNet.Web.Models.Helpers
@{
    ViewBag.Title = SettingsHelper.GetSearchPageTitle();
}

<div id="body">
    <div id="content">
        @Html.Partial("~/Views/Shared/Search/_Search.cshtml")
        @Html.Partial("~/Views/Shared/Search/_SearchResults.cshtml")
    </div>
</div>
<aside id="sidebar">
    @* @Html.Partial("~/Views/Shared/Search/_SearchResultsSortBy.cshtml") *@

    @Html.Partial("~/Views/Shared/Search/_SearchResultsFilterByTag.cshtml")

    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_About.cshtml")
</aside>
