@using CkanDotNet.Web.Models.Helpers
@{
    ViewBag.Title = SettingsHelper.GetSearchPageTitle();
}

@Html.Partial("~/Views/Shared/Search/_Search.cshtml")

<div id="body">
    @Html.Partial("~/Views/Shared/Search/_SearchResults.cshtml")
</div>

@section SideBar {
<aside id="sidebar">
    @* @Html.Partial("~/Views/Shared/Search/_SearchResultsSortBy.cshtml") *@

    @Html.Partial("~/Views/Shared/Search/_SearchResultsFilterByTag.cshtml")

    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_About.cshtml")
</aside>
}
