@using CkanDotNet.Web.Models
@{
    Layout = "~/Views/Shared/Layout/_Page.cshtml";
    string site = "http://www.crgov.com";
} 




<body id="ctl00_Body" style="margin: 0px; background: url(@site/images/layout/design21/bkg.jpg) repeat-x top left #567391;;" link="black" alink="black" vlink="black" class="shiftDashboard">
	<a name="pagetop" title="Page Top"> </a>

	<div class="jumpTo" style="position: absolute;"><a style="display: inline;" href="#menuarea" title="Jump to the Menu Area"> </a> <a style="display: inline;" href="#contentarea" title="Jump to the Content Area"> </a></div>

	<div id='floating'></div>
	
	
	<div align="center">

<div style="width:100%; background:url(@site/images/layout/design21/ba.jpg) no-repeat center top;">
<table border="0" width="991" cellspacing="0" cellpadding="0">
<tr>
<td width="232" height="106" valign="top" align="left" style="background:url(@site/images/layout/design21/bb.jpg) no-repeat left top;">

<style type="text/css">
	#featureArea {
	}
</style>

<div id="featureArea5">
<div style="float: left; margin: 9px 0px 6px 23px;" id="customHtml39">
<style type="text/css">
	.shareTransparent
	{
		background: #6795c6;
		background-color: rgba(103,149,198,.4);
		display: none;
		font-size: 8pt;
		position: absolute;
		filter: alpha(opacity=100, finishopacity=100, style=1);
		z-index: 1050;
		padding: 6px;
		-moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
	}
	a.shareSiteLink
	{
    font-family: Arial;
		font-size: 8pt;
		text-decoration:none;
		display: block;
    padding: 2px 0px 2px 21px; 
    color: #15385c;
	}
	.sharePopupOpener
	{
		border: none;
	}
	a:hover {
    text-decoration: underline;
  }
	.sharePopupContent 
	{
		background-color: #cdddee;
		border: 1px solid #6795c6;
		padding: 5px;
		filter: alpha(opacity=100, finishopacity=100, style=1);
		opacity: 1;
		padding: 18px 15px 5px 5px;
		text-align: left;
		z-index: 1051;
		-moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
	}
	div.aboutShare
	{
    margin-bottom: 10px;
	}
	div.shareItem
	{
    margin-bottom: 5px;
	}
	div.shareClose
	{
    position: absolute;
    top: 10px;
    right: 10px;
	}
</style>

<script type="text/javascript"><!--
    var SC129 = 0;

    function ToggleShare129(e) {
        if (SC129 == 0) {
            SC129 = 1;
            var div = document.getElementById("div_share129");
            div.style.display = 'block';
            div.focus();
        }
        else {
            SC129 = 0;
            var div = document.getElementById("div_share129");
            div.style.display = 'none';
        }
    }

    function LaunchShareSite129(site) {
        var div = document.getElementById("div_share129");
        div.style.display = 'none';
        SC129 = 0;

        if (site.indexOf('intShareStumbleUpon') > -1)
            window.open('http://www.stumbleupon.com/submit?url=' + document.location.href + '&title=' + document.title, "ShareWindow");
        else if (site.indexOf('intShareMySpace') > -1)
            window.open('http://www.myspace.com/Modules/PostTo/Pages/?t=' + document.title + '&c=&u=' + document.location.href, "ShareWindow");
        else if (site.indexOf('intShareFacebook') > -1)
            window.open('http://www.facebook.com/share.php?u=' + document.location.href + '&t=' + document.title, "ShareWindow");
        else if (site.indexOf('intShareGoogle') > -1)
            window.open('http://www.google.com/bookmarks/mark?op=add&title=' + document.title + '&bkmk=' + document.location.href, "ShareWindow");
        else if (site.indexOf('intShareYahoo') > -1)
            window.open('http://my.yahoo.com/index.php?.src=bookmarks&.folder=1&.name=' + document.title + '&url=' + document.location.href, "ShareWindow");
        else if (site.indexOf('intShareDigg') > -1)
            window.open('http://digg.com/submit/?url=' + document.location.href + '&title=' + document.title, "ShareWindow");
        else if (site.indexOf('intShareDelicious') > -1)
            window.open('http://del.icio.us/post?url=' + document.location.href + '&title=' + document.title, "ShareWindow");
        else if (site.indexOf('intShareTwitter') > -1)
            window.open('http://twitter.com/home?status=' + document.location.href, "ShareWindow");
    }

//--></script>
    <div style="float: left;">
        <div>
            <a href="" onclick="ToggleShare129(event); return false;" style="text-decoration: none;">
                <img class="sharePopupOpener" src="@site/images/layout/design21/share.gif" onmouseover="this.src='@site/images/layout/design21/share2.gif'" onmouseout="this.src='@site/images/layout/design21/share.gif'" alt="Share" title="Share"></a></div>
        <div id="div_share129" class="shareTransparent">
            <div class="sharePopupContent">
                <div class="shareClose">
                    <a href="" onclick="ToggleShare129(event); return false;" style="1; text-decoration: none;">
                        <img class="sharePopupOpener" src="@site/images/share/icon-close.gif" alt="Close" title="Close"></a></div>
                <div class="aboutShare" style="background: url(@site/images/share/icon-shareexplain.gif) left center no-repeat;">
                    <a class="shareSiteLink" href="@site/" title="About Share">About&nbsp;Share</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-delicious.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using Delicious" href="" onclick="LaunchShareSite129('intShareDelicious'); return false;">
                        Delicious</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-digg.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using Digg" href="" onclick="LaunchShareSite129('intShareDigg'); return false;">
                        Digg</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-facebook.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using Facebook" href="" onclick="LaunchShareSite129('intShareFacebook'); return false;">
                        Facebook</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-google.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using Google" href="" onclick="LaunchShareSite129('intShareGoogle'); return false;">
                        Google</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-myspace.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using MySpace" href="" onclick="LaunchShareSite129('intShareMySpace'); return false;">
                        MySpace</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-stumbleupon.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using StumbleUpon" href="" onclick="LaunchShareSite129('intShareStumbleUpon'); return false;">
                        StumbleUpon</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-twitter.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using Twitter" href="" onclick="LaunchShareSite129('intShareTwitter'); return false;">
                        Twitter</a></div>
                <div class="shareItem" style="background: url(@site/images/share/icon-yahoo.gif) left center no-repeat;">
                    <a class="shareSiteLink" title="Share using Yahoo" href="" onclick="LaunchShareSite129('intShareYahoo'); return false;">
                        Yahoo</a></div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <div style="float: left;">
        <a href="@site/emailpage.aspx">
            <img src="@site/images/layout/design21/email.gif" onmouseover="this.src='@site/images/layout/design21/email2.gif'" onmouseout="this.src='@site/images/layout/design21/email.gif'" alt="Email" border="0"></a><a
                href="" onclick="printPreview(); return false;"><img src="@site/images/layout/design21/print.gif" onmouseover="this.src='@site/images/layout/design21/print2.gif'" onmouseout="this.src='@site/images/layout/design21/print.gif'" alt="Print" border="0"></a><a href="@site/rss.aspx"><img src="@site/images/layout/design21/miscrss.gif" onmouseover="this.src='@site/images/layout/design21/miscrss2.gif'" onmouseout="this.src='@site/images/layout/design21/miscrss.gif'" alt="RSS" border="0"></a></div>
    </div>

<form name="aspnetForm" method="post" action="@site/index.aspx?NID=415" id="aspnetForm" style="display:inline;" onsubmit="return headerValidationCallback();" enctype="multipart/form-data" autocomplete="off">
    <input type="submit" name="ctl00$liveEditSpawnWindow" value="" id="ctl00_liveEditSpawnWindow" disabled="disabled" style="display: none;" />		
	<input type="hidden" name="txtDefaultSearchText" value="Search this site">


    <!-- ** BEGIN SEARCH ** -->
<script type="text/javascript"><!--
    function faSiteSearch() {
        document.aspnetSearchForm.SearchString.value = document.aspnetForm.SearchString.value;
        document.aspnetSearchForm.action = "@site/Search.aspx";
        document.aspnetSearchForm.submit();
    }
    function faSiteSearchTextHook(ev) {
        ev = (window.event ? window.event : ev);
        if (ev.keyCode == 10 || ev.keyCode == 13) {
            faSiteSearch();
            stopEventPropagation(ev);
            return false;
        }
        return true;
    }
//--></script>		

<table id="search199" border="0" cellpadding="0" cellspacing="0" width="209" style="margin: 0px 0px 0px 0px; background: url(@site/images/layout/design21/searchbkg.jpg) no-repeat left top;; text-align:left; margin-left: 23px; clear: both;;">
    <tr>
	    <td style="padding: 0px 0px 0px 5px;">
		    <input type="text" onkeydown="return faSiteSearchTextHook(event);" class="xcssSearchString" name="SearchString" alt="Go To Site Search" title="Go To Site Search" maxlength="50" style="height: 20px; width: 131px; position: relative; top: 8px; vertical-align: top;"" value="Search this site" onfocus="if (this.value == 'Search this site') this.value = '';" onblur="if (this.value == '') this.value = 'Search this site';"/>
    <img onclick="faSiteSearch();" name="Action" src="@site/images/layout/design21/go.jpg" onmouseover="this.src='@site/images/layout/design21/go_mo.jpg'" onmouseout="this.src='@site/images/layout/design21/go.jpg'" alt="Go To Site Search" title="Go To Site Search" border="0" style="cursor:pointer;"/>
	    </td>
    </tr>
</table>

</form>
<!-- ** END SEARCH ** -->
<div style="margin: 3px 0px 0px 22px;" id="customHtml200">
<a href="http://www.facebook.com/crgov" target="_blank" ><img src="@site/images/layout/design21/facebook.jpg" onmouseover="this.src='@site/images/layout/design21/facebook2.jpg'" onmouseout="this.src='@site/images/layout/design21/facebook.jpg'" alt="Facebook" border="0"></a>
<a href="http://www.twitter.com/crgov" target="_blank" ><img src="@site/images/layout/design21/twitter.jpg" onmouseover="this.src='@site/images/layout/design21/twitter2.jpg'" onmouseout="this.src='@site/images/layout/design21/twitter.jpg'" alt="Twitter" border="0"></a></div>

</div>
</td>
    <td width="759" height="106" style="position: relative;">
    <a href="@site/">
        <img src="@site/images/layout/design21/bc.jpg" width="759" height="106" border="0" id="Image3" alt="Click to Home"></a><div
            style="position: relative;">
            <div id="featureArea10">
                <div style="float: left; position: absolute; top: -104px; right: 13px;" id="customHtml252">
                    <a href="http://www.digitalcommunities.com/survey/cities/?year=2010" target="blank">
                        <img src="@site/images/layout/design21/citiessurvey.jpg" alt="Digital Cities Award" border=0></a><a
                            href="http://www.centerdigitalgov.com/survey/88" target="blank"><img src="@site/images/layout/design21/bestof.jpg" alt="Best of Web Award" border=0></a>
                </div>
            </div>
        </div>
    </td>
</tr><tr>

<td width="991" valign="top" align="left" colspan="2" style="background: url(@site/images/layout/design21/bd.jpg) no-repeat left top;" height="59">
<div id="navbartext" name="navbartextdropdownmenu.aspx">
<script type="text/javascript">
    var imgArray = new Array(0);

    function buildMoArray(fname) {
        var tmpImg = new Image();
        tmpImg.src = '@site/images/layout/design21/' + fname + '.jpg';
        imgArray.length++;
        imgArray[imgArray.length - 1] = tmpImg;
    }
</script><script>             var ysnHorizontal = false;</script>  <!--- BEGIN Left Margin --->  <table cellpadding="0" cellspacing="0" border="0">
   <tr>
    <td width=69>
     <br>

    </td>
    <td class="NavText">
  <!--- END Left Margin --->
<div id="navTop"><div class="menuTop" id="T31" onmouseover="addSubMenuTop(this, '');removeImage();document.getElementById('dropdiv31').src = imgArray[0].src;" onmouseout="removeSubMenu(this);removeImage=function(){document.getElementById('dropdiv31').src = imgArray[1].src;}"><a class="NavText" href="@site/index.aspx?NID=31"><img style="vertical-align: top;" id="dropdiv31" name="dropdiv31" border="0" alt="Living In" src="@site/images/layout/design21/LivingIn.jpg"></a></div><div class="menuTop" id="T9" onmouseover="addSubMenuTop(this, '');removeImage();document.getElementById('dropdiv9').src = imgArray[2].src;" onmouseout="removeSubMenu(this);removeImage=function(){document.getElementById('dropdiv9').src = imgArray[3].src;}"><a class="NavText" href="@site/index.aspx?NID=9">
<img style="vertical-align: top;" id="dropdiv9" name="dropdiv9" border="0" alt="Town Government" src="@site/images/layout/design21/TownGovernment.jpg"></a></div><div class="menuTop" id="T35" onmouseover="addSubMenuTop(this, '');removeImage();document.getElementById('dropdiv35').src = imgArray[4].src;" onmouseout="removeSubMenu(this);removeImage=function(){document.getElementById('dropdiv35').src = imgArray[5].src;}"><a class="NavText" href="@site/index.aspx?NID=35"><img style="vertical-align: top;" id="dropdiv35" name="dropdiv35" border="0" alt="Doing Business" src="@site/images/layout/design21/DoingBusiness.jpg"></a></div><div class="menuTop" id="T8" onmouseover="addSubMenuTop(this, '');removeImage();document.getElementById('dropdiv8').src = imgArray[6].src;" onmouseout="removeSubMenu(this);removeImage=function(){document.getElementById('dropdiv8').src = imgArray[7].src;}"><a class="NavText" href="@site/index.aspx?NID=8"><img style="vertical-align: top;" id="dropdiv8" name="dropdiv8" border="0" alt="Visiting" src="@site/images/layout/design21/Visiting.jpg"></a></div><div class="menuTop" id="T27" onmouseover="addSubMenuTop(this, '');removeImage();document.getElementById('dropdiv27').src = imgArray[8].src;" onmouseout="removeSubMenu(this);removeImage=function(){document.getElementById('dropdiv27').src = imgArray[9].src;}"><a class="NavText" href="@site/index.aspx?NID=27"><img style="vertical-align: top;" id="dropdiv27" name="dropdiv27" border="0" alt="I Want To..." src="@site/images/layout/design21/IWantTo.jpg"></a></div></div>  <!--- BEGIN Left Margin --->
    </td>
   </tr>
  </table>
  <!--- END Left Margin --->
  <script type="text/javascript"><!--
      buildMoArray('LivingIn2');
      buildMoArray('LivingIn');
      buildMoArray('TownGovernment2');
      buildMoArray('TownGovernment');
      buildMoArray('DoingBusiness2');
      buildMoArray('DoingBusiness');
      buildMoArray('Visiting2');
      buildMoArray('Visiting');
      buildMoArray('IWantTo2');
      buildMoArray('IWantTo');

//--></script>

</div>
<script type="text/javascript">    order += 'NavBarTextDropDownMenu\n'</script>
</td></tr></table>


<div style="background: url(@site/images/layout/design21/bkg2.jpg) repeat-y left top; width: 991px;">

    <div style="background: url(@site/images/layout/design21/tbltopbkg.jpg) no-repeat left top; width: 991px;">
        <table border="0" width="991" cellpadding="0" cellspacing="0" style="background: url(@site/images/layout/design21/tblbtmbkg.jpg) no-repeat left bottom;">
            <tr>
                <td width="239" valign="top" style="background-repeat: no-repeat; background-position: left top;
                    padding-top: 35px;">
                    <div id="mouseovermenufloating" name="mouseovermenufloating.aspx">
                        <table id="MOMmenu" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr valign="top">
                                <td align="center">
                                </td>
                            </tr>
                            <tr valign="top">
                                <td align="left">
                                    @RenderSection("SideBar")
                                    <div id="quickLinks37" style="background: url(@site/images/layout/design21/mombkg.gif) no-repeat left top; width:239px;">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <script type="text/javascript">                        order += 'MouseOverMenuFloating\n'</script>
                </td>
                <td width="737" valign="top" align="left" style="background-repeat: no-repeat; background-position: left top;
                    text-align: left;">
                    <div id="modulecontent" name="modulecontent.aspx" style="padding-top: 0px;">
                        <div id="BreadCrumbOwner" style="padding-left: 15px;">
                            <div id="BreadCrumbs" style="float: left; margin: 10px 0px 10px 0px;">
                                <span class='BreadLeader'>You are here:</span> <span class='BreadLink'><a class="CrumbLink" href="@site/index.aspx">
                                    Home</a> &gt; <a class='CrumbLink' href='@site/index.aspx?NID=9'>Town Government</a>
                                    &gt; <a class='CrumbLink' href='@site/index.aspx?NID=1159'>Transparency Portal</a>
                                    &gt; </span>
                                @RenderSection("BreadCrumbs")
                            </div>
                            <br style="clear: left;">
                        </div>
                        <a name="contentarea" title="Content Area"></a>
                        <!--** BEGIN PAGECONTENT2.aspx **-->
                        <!-- ** BEGIN FEATURE CONTENT TOP ** -->
                        <div id="featureContentTop">
                        </div>
                        <!-- ** END FEATURE CONTENT TOP ** -->
                        @RenderSection("ContentStart")
                        <div class="Headline" style="border-bottom: 2px solid #82A5C8; padding-bottom: 3px;
                            margin-bottom: 12px;">
                            <a href="@Url.Action("Index", "Home")" class="Headline">Open Data Catalog</a></div>
                        @RenderBody()
                        @RenderSection("ContentEnd")
                        <!--** END PAGECONTENT2.aspx **-->
                    </div>
                    <script type="text/javascript">                        order += 'ModuleContent\n'</script>
                </td>
                <td width="15">
                    <br>
                </td>
            </tr>
            <tr>
                <td width="239" valign="bottom" style="background-repeat: no-repeat; background-position: left top;
                    padding-bottom: 25px;">
                    <div id="featureArea7">
                        <div style="float: left; padding-left: 40px; font-size: 10px; text-align: left; color: #4d3729;
                            font-weight: bold;" id="customHtml198">
                            <div style="float: left;">
                                <img src="@site/images/layout/design21/logo.gif" border="0" alt="Castle Rock, CO"></div>
                            <div style="float: left; width: 116px;">
                                100 N. Wilcox St.<br>
                                Castle Rock, CO 80104</div>
                        </div>
                    </div>
                </td>
                <td width="737" valign="top" align="left" style="background-repeat: no-repeat; background-position: left top;
                    text-align: left;" height="67">
                </td>
                <td width="15" height="67">
                </td>
            </tr>
        </table>
</div>
</div>
<div style="width: 991px; text-align:center;">
<style type="text/css">
	#featureArea {
	}
</style>
    <div id="featureArea6">
        <div style="font-family: arial; font-size: 9pt; color: #dcdbc0; padding-top: 6px;"
            id="customHtml176">
            <style>
                a.NavBarText3
                {
                    padding: 0px 8px;
                    color: #cde1f7;
                    text-decoration: none;
                }
            </style>
            <a href="@site/" class="NavBarText3">Home</a> <a href="@site/list.aspx" class="NavBarText3">
                Subscribe</a> <a href="@site/civicalerts.aspx" class="NavBarText3">News</a>
            <a href=@site/directory.aspx" class="NavBarText3">Contact Us</a> <a href="@site/sitemap.aspx" class="NavBarText3">
                Sitemap</a> <a href="http://translate.google.com/translate_t" target="_blank" class="NavBarText3">
                    Translate Page</a> <a href="@site/accessibility.aspx" class="NavBarText3">Accessibility</a>
            <a href="http://www.civicplus.com" target="_blank" class="NavBarText3">Powered by CivicPlus</a>
            <a href="@site/copyright.aspx" class="NavBarText3">Copyright Notice</a> <a href="@site/index.aspx?NID=954" class="NavBarText3">
                Disclaimer</a></div>
    </div>
</div>
</div>
 </div>
            <script type="text/javascript" src="@site/support/MouseOverMenu.js"></script>
    <div id="ctl00_liveEditPopupWindow" class="modalContainer modalContainerCP" style="display: none;">
        <div id="ctl00_liveEditTitleBar" class="modalTitleLeft">
            <h3 id="ctl00_LiveEditModalTitle" class="modalTitle">
                Live Edit</h3>
            <a id="ctl00_LiveEditCloseButton" class="modalClose" href="@site/" title="Close this window">
                Close</a></div>
        <div id="ctl00_liveEditContentLeft" class="modalContentLeft">
            <div id="ctl00_liveEditContentRight" class="modalContentRight">
                <div id="ctl00_liveEditContent" class="modalContent">
                    <iframe style="display: none; border: none;" src="about:blank" id="liveEditDialog"
                        scrolling="no" name="liveEditDialog" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <div id="ctl00_liveEditFooter" class="modalBottomLeft">
            <div id="ctl00_liveEditfooterbar" class="modalBottomRight">
                <div id="ctl00_liveEditfooterbar1" class="modalBottom">
                </div>
            </div>
        </div>
    </div>
    
   <form id="aspnetSearchForm" name="aspnetSearchForm" style="display:none;" action="/Search.aspx" method="get">
    <input name="SearchString" type="hidden" value="" />
  </form>

	<form style="display: inline;" name="frmNavigate" method="post" action=''></form>

	<script src='@site/urchin.js' type='text/javascript'></script>
<script type='text/javascript'><!--
    urchinTracker();
//--></script>

	

	 <div class="modal modalContainer editFavorite hidden noIframe" id="modalFavorites">
	    <div class="modalTitleLeft">
		    <h3 class="modalTitle"></h3>
		    <a class="modalClose" href="Javascript: void(0);" title="Close window">Close window</a>
	    </div>

	    <div class="modalContentLeft">
		    <div class="modalContentRight">
			    <div class="modalContent">
			    </div>
		    </div>
	    </div>
	    <div class="modalBottomLeft">
		    <div class="modalBottomRight">
			    <div class="modalBottom"></div>

		    </div>
	    </div>
    </div>
	</body>
