@using CkanDotNet.Web.Models
@{
    Layout = "~/Views/Shared/Layout/_Page.cshtml";
} 
<body>

<div id="page">
    
    @RenderSection("BreadCrumbs",false)
                      
    <!--Application Content Here-->
    @RenderSection("ContentStart")
    @RenderBody()
    @RenderSection("SideBar",false)
    @RenderSection("ContentEnd")
    <!--End Application Content Here-->
</div>
</body>
