@using CkanDotNet.Web.Models.Helpers
@using CkanDotNet.Web.Models
@{
    // TODO: Add to config
    ViewBag.Title = "Open Data Catalog";
}

@RenderPage("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_HomeHeader.cshtml")

<section id="body">
    <section id="content">
        @Html.Partial("~/Views/Shared/Search/_Search.cshtml")
        @Html.Action("FeaturedPackages", "Widget")
        @Html.Action("RecentlyUpdated", "Widget")
    </section>

</section>
<aside id="sidebar">
    @Html.Action("PopularTags", "Widget")
    @Html.Partial("_License")
    @Html.Partial("_About")
</aside>