@using CkanDotNet.Web.Models.Helpers
@using CkanDotNet.Web.Models
@{
    ViewBag.Title = SettingsHelper.GetHomePageTitle();
}

<div id="header">@RenderPage("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_HomeHeader.cshtml")
</div>

<section id="body">
        @Html.Partial("~/Views/Shared/Search/_Search.cshtml")

        @if (SettingsHelper.GetHomeFeaturedPackagesEnabled())
        {
            @Html.Action("FeaturedPackages", "Widget")
        }
                
        @if (SettingsHelper.GetHomeRecentlyUpdatedPackagesEnabled())
        {
            @Html.Action("RecentlyUpdated", "Widget")
        }
</section>

@section SideBar {
<aside id="sidebar">
    @if (SettingsHelper.GetHomePopularTagsEnabled())
    {
        @Html.Action("PopularTags", "Widget")
    }
    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_License.cshtml")
    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_About.cshtml")
</aside>
}



