@using CkanDotNet.Web.Models.Helpers
@using CkanDotNet.Web.Models
@{
    // TODO: Add to config
    ViewBag.Title = "Open Data Catalog";
}

@RenderPage("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_HomeHeader.cshtml")

<section id="body">
    <section id="content">
        @Html.Partial("~/Views/Shared/Search/_Search.cshtml")

        @if (SettingsHelper.GetHomeFeaturedPackagesEnabled())
        {
            @Html.Action("FeaturedPackages", "Widget")
        }
                
        @if (SettingsHelper.GetHomeRecentlyUpdatedPackagesEnabled())
        {
            @Html.Action("RecentlyUpdated", "Widget")
        }
        
    </section>

</section>
<aside id="sidebar">
    @if (SettingsHelper.GetHomePopularTagsEnabled())
    {
        @Html.Action("PopularTags", "Widget")
    }
    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_License.cshtml")
    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_About.cshtml")
</aside>