@using CkanDotNet.Web.Models.Helpers
@{
    //File.Exists();

    string body = "~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_Body.cshtml";
    string bodyWithSections = "~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_BodyWithSections.cshtml";
    bool sections = false;

    if (File.Exists(Server.MapPath(body)))
    {
        Layout = body;
    }
    else
    {
        Layout = bodyWithSections;
        sections = true;
    }
}

@if (!sections)
{
    <div id="content">
    @Html.Partial("~/Views/Shared/_BreadCrumbs.cshtml")

    @if (SettingsHelper.GetAddThisEnabled())
    {
    @Html.Partial("_AddThis")                 
    }   

    @RenderBody()
    @RenderSection("SideBar", false)
    </div>
}
else
{
<text>
    @section ContentStart {
    <div id="content">
    }

    @if (SettingsHelper.GetBreadcrumbsEnabled())
    {
        <text>
        @section BreadCrumbs {
            @Html.Partial("~/Views/Shared/_BreadCrumbs.cshtml")
        }
        </text>
    }

    @if (SettingsHelper.GetAddThisEnabled())
    {
        @Html.Partial("_AddThis")                 
    }     

    @RenderBody()  

    @section SideBar {
        @RenderSection("SideBar", false)
    }

    @section ContentEnd {
    </div>
    }
</text> 
}