@using CkanDotNet.Web.Models.Helpers
@using CkanDotNet.Web.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    @Html.Partial("~/Views/Shared/_MetaTags.cshtml")

    <!-- JavaScript dependencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.watermark.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/stars/jquery.ui.stars.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tiptip/jquery.tipTip.min.js")"></script>

    <!-- CSS dependencies -->
    <link href="@Url.Content("~/Content/smoothness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Styles.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/stars/jquery.ui.stars.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/tiptip/tipTip.css")" rel="stylesheet" type="text/css"/>

    <!-- Theme resources -->
    @RenderPage("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_Head.cshtml")

    <!-- Enable tipTip tooltips -->
    <script language="javascript">
        $(function () {
            $(".tooltip").tipTip({
                defaultPosition: "top",
                delay: 200
            });
        });
    </script>


    @if (SettingsHelper.GetUserVoiceEnabled())
    {
        @RenderPage("~/Views/Shared/_UserVoice.cshtml")
    }
    
    @if (SettingsHelper.GetGoogleAnalyticsEnabled() && ViewData["DisableAnalytics"] == null)
    {
        @RenderPage("~/Views/Shared/_Analytics.cshtml")
    }
</head>

@RenderBody()

@if (SettingsHelper.GetIframeEnabled())
{
    var id = SettingsHelper.GetIframeId();
    var src = SettingsHelper.GetIframeSrc();
    
    <!-- Handle iframe resize after page load -->
    <script language="javascript">
        $(function () {
            try {
                
                @if (!String.IsNullOrEmpty(SettingsHelper.GetIframeDocumentDomain())) {
                <text>document.domain = "@SettingsHelper.GetIframeDocumentDomain()";</text>
                }

                var isInIFrame = (window.location != window.parent.location) ? true : false;

                if (isInIFrame) {
                    @if(!String.IsNullOrEmpty(id)) {
                      <text>var iframe = $('iframe#@id]', parent.document).get(0);</text>
                    }
                    else
                    {
                      <text>var iframe = $('iframe[src="@src"]', parent.document).get(0);</text>
                    }
                    
                    if (iframe) {
                        $(iframe).height($(document).height());
                    }
                }

            } catch (ex) {
                // Intentionally catch this so we don't get same origin errors in we aren't in an iframe
            }
        });
    </script>
}
</html>



