@using CkanDotNet.Web.Models.Helpers
@using CkanDotNet.Web.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    @Html.Partial("~/Views/Shared/_MetaTags.cshtml")

    <!-- JavaScript dependencies -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.watermark.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")"></script>
    <script src="@Url.Content("~/Scripts/stars/jquery.ui.stars.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tiptip/jquery.tipTip.min.js")"></script>

    <!-- CSS dependencies -->
    <link href="@Url.Content("~/Content/smoothness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Styles.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/stars/jquery.ui.stars.min.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Scripts/tiptip/tipTip.css")" rel="stylesheet" type="text/css"/>

    <!-- Theme resources -->
    @RenderPage("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_Head.cshtml")

    <!-- Support HTML5 in older IE browsers -->
    <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Enable tipTip tooltips -->
    <script language="javascript">
        $(function () {
            $(".tooltip").tipTip({
                defaultPosition: "top",
                delay: 200
            });
        });
    </script>


    @if (SettingsHelper.GetUserVoiceEnabled())
    {
        @RenderPage("~/Views/Shared/_UserVoice.cshtml")
    }
    
    @if (SettingsHelper.GetGoogleAnalyticsEnabled())
    {
        @RenderPage("~/Views/Shared/_Analytics.cshtml")
    }
</head>

@RenderBody()
           
</html>