@using CkanDotNet.Api.Model
@model PackageSearchResponse<Package>
 
@if (Model.Results.Count >= 3)
{  
<div class="container">
<h2 class="container-title">Featured Datasets | @Html.ActionLink("View All Datasets", "Index", "Search", null, new { @class = "container-title-link" })</h2>
<div class="featured-container">
    @foreach (var result in Model.Results)
    {
        <div class="featured-package">
            @Html.ActionLink(@result.Title, "Index", "Package", new { package = @result.Name }, new { @class = "package-link" })
            
             @* Removed, no longer supported by CKAN
            <div class="resultRating">
            @Html.Partial("~/Views/Shared/_Rating.cshtml", result)
            </div>
            *@

            <p class="featured-package-notes">
            @result.GetAbbreviatedNotes(75)
            </p>

            <div class="formats">
            @foreach (var resource in result.Resources)
            {
                <span class="format tooltip" title="@resource.Description">@resource.Format</span>
            }
            </div>
        </div>
    }

</div>
</div>
}

