@using CkanDotNet.Api.Model
@model Dictionary<string, int>
 
<section class="container">
<h2 class="container-title">Popular Tags</h2>
<div class="container-content">
    @foreach (var result in Model)
    {
        <div class="tag">
            <a href="@Url.Action("Index", "Search", new { tag = @result.Key })" data-tag="@result.Key">@result.Key (@result.Value)</a>
        </div>
    }

</div>
</section>