@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@using CkanDotNet.Web.Models.Helpers
@model List<Tag>
 
<div class="container">
<h2 class="container-title">Popular Tags</h2>
<div class="container-content">
    @foreach (var result in Model)
    {
        <div class="tag">
            @{
                string scale = result.Scale + "%";
            }
            <a href="@Url.Action("Index", "Search", new { tag = @result.Label })" 
               data-tag="@result.Label" 
               style="font-size: @scale;">@result.Label 
            @if (SettingsHelper.GetTagCloudShowCount()) {
                <text>(@result.Count)</text>
            }</a>
        </div>
    }

</div>
</div>
