@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models.Helpers
@using System.Text
@model Package
           
@{
    ViewBag.Title = Model.Title;
}

<div class="package">
<h1>@Model.Title</h1>

    <div class="package-subtitle">

        <div class="tagline">
            @{
                StringBuilder sb = new StringBuilder();
                sb.AppendFormat("Posted {0}", Model.MetadataCreatedAsDate.ToShortDateString());

                if (Model.MetadataModifiedAsDate > DateTime.MinValue)
                {
                    sb.AppendFormat(", last updated {0}", Model.MetadataModifiedAsDate.ToShortDateString());
                }
            }
            @sb.ToString()

            
        </div>

        @if (SettingsHelper.GetPackageRssFeedEnabled())
        {
        <a class="package-subscribe tooltip" title="Subscribe" href="http://@SettingsHelper.GetRepository()/package/history/@Model.Name?format=atom&days=@SettingsHelper.GetPackageRssFeedDays()"> </a>
        }
        
    </div>

    @if (!String.IsNullOrEmpty(Model.NotesRendered) && !String.IsNullOrEmpty(Model.Notes))
    {   
    <div class="notes">
        @if (!String.IsNullOrEmpty(Model.NotesRendered))
        {
            <p>@Html.Raw(Model.NotesRendered)</p>
        }
        else if (!String.IsNullOrEmpty(Model.Notes))
        {
            <p>@Html.Raw(Model.Notes)</p>
        }
    </div>
    }
</div>

<section id="body">
    <section id="content">
        @Html.Partial("~/Views/Shared/Package/_Package.cshtml")
    </section>
</section>
<aside id="sidebar">

    @Html.Partial("~/Views/Shared/Package/_Rate.cshtml")
    
    @Html.Partial("~/Views/Shared/Package/_Tags.cshtml")

    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_License.cshtml")

    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetTheme() + "/_About.cshtml")
</aside>