@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@model PackageSearchResultsModel
    
<div class="results">

         @{ var odd = true; }
         @foreach (var result in Model.SearchResults.Results)
         {
            <div class="result @(odd ? "odd" : "even")">
                <div class="title">@Html.ActionLink(@result.Title, "Index", "Package", new { package = @result.Name }, new { @class = "package" })</div>
                
                 <div class="date">Last updated @result.MetadataModifiedAsDate.ToShortDateString()</div>

                 <div class="resultRating">
                 @Html.Partial("~/Views/Shared/_Rating.cshtml", result)
                 </div>

                 @if (result.Resources.Count > 0)
                 {
                     <div class="formats"><span class="label">Available formats:</span>
                        @foreach (var resource in result.Resources)
                        {
                            <span class="format" title="@resource.Description">
                            @if (!String.IsNullOrEmpty(resource.Format))
                            {
                                
                                @resource.Format
                            }
                            else
                            {
                                @("unspecified")
                            }
                            </span>
                        }
                    </div>
                 }
                 
                <div class="notes">@Html.Raw(result.GetAbbreviatedNotes(300))
                    <!--<div class="tags">Tags:
                    @foreach (var tag in result.Tags)
                    {
                        <span class="tag">@Html.ActionLink((string)@tag, "Tag", "Search", new { tag = @tag }, null)</span>
                    }
                    </div>-->
                </div>

                
            </div>
            odd = !odd;
         }
         </tbody>
    </table>
</div>

<script language="javascript">
    $(function () {

        var route = '';

        // Register the click event on the result
        $(".result").click(function (item) {
            window.location = $(this).find("a.package").attr('href');
        });

        // Create the tool tips
        $(".format").tipTip({
            defaultPosition: "top",
            delay: 200
        });

    });
</script>