@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@using CkanDotNet.Web.Models.Helpers

@model PackageSearchResultsModel

<div class="container">
    <h2 class="container-title">
    
    @if (Model.SearchResults.Count > 0)
    { 
        <text>Results (</text>@Model.Pager.ToString()<text>)</text>
        @Html.Partial("_Pager")      
    }
    else
    {
        <text>No Results Found</text>
    }
   </h2>

    @if (Model.SearchResults.Count > 0)
    {
        @Html.Partial("~/Views/Shared/Search/_SearchResultsList.cshtml")
    }
    else
    {
        @Html.Partial("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_NoSearchResultsFound.cshtml")
    }


</div>

<div class="pager-container">
@Html.Partial("_Pager")
</div>