@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@using CkanDotNet.Web.Models.Helpers
@model PackageSearchResultsModel
<div class="results">
    @{ var odd = true; }
    @foreach (var result in Model.SearchResults.Results)
    {
        <div class="result @(odd ? "odd" : "even")">
            <div class="result-title">@Html.ActionLink(@result.Title, "Index", "Package", new { package = @result.Name }, new { @class = "package-link" })</div>
            <div class="result-date">
                Last updated @result.MetadataModifiedAsDate.ToShortDateString()</div>
            
            @if (SettingsHelper.GetSearchResultsShowRating())
            {
            <div class="result-rating">
                @Html.Partial("~/Views/Shared/_Rating.cshtml", result)
            </div>
            }
            
            @if (result.Resources.Count > 0)
            {
                <div class="formats">
                    <span class="formats-label">Available formats:</span>
                    @foreach (var resource in result.Resources)
                    {
                        <span class="format tooltip" title="@resource.Description">
                            @if (!String.IsNullOrEmpty(resource.Format))
                            {
                                
                                @resource.Format
                            }
                            else
                            {
                                @("unspecified")
                            }
                        </span>
                    }
                </div>
            }
            <div class="notes">@Html.Raw(result.GetAbbreviatedNotes(300))</div>

            @if (SettingsHelper.GetSearchResultsShowTags())
            {
                <div class="result-tags">Tags:
                @foreach (var tag in SettingsHelper.FilterTags(result.Tags))
                {
                    <span class="result-tag">@Html.ActionLink(tag, "Index", "Search", new { tag = @tag }, null)</span>
                }
                </div>
            }
            
        </div>
            odd = !odd;
    }
</div>

<script language="javascript">
    $(function () {

        var route = '';

        // Register the click event on the result
        $(".result").click(function (item) {
            window.location = $(this).find(".package-link").attr('href');
        });

    });
</script>
