@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models.Helpers
@using System.Text
@model Package

@{
    var formatTypes = CkanDotNet.Web.Models.Helpers.SettingsHelper.GetResourceSettings().Types;
}
<div class="package">

    @* Show the resources *@
    @if (Model.Resources.Count > 0)
    {
        <section class="container">
        <h2>Resources</h2>
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Format</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @foreach (Resource resource in Model.Resources)
            {
                <tr>
               
                    <td>
                        @if (!String.IsNullOrEmpty(resource.Description))
                        {   
                          @resource.Description
                        }
                        else
                        {
                           @("None")
                        }
                    </td>

                    <td>
                        @if (!String.IsNullOrEmpty(resource.Format))
                        {
                            if (!formatTypes.ContainsKey(resource.Format))
                            {
                                <span class="format">@resource.Format</span>
                            }
                            else
                            {
                                <span class="tooltip format" title="@formatTypes[resource.Format].Title">@resource.Format</span>
                            }
                        }
                        else
                        {
                            @("Unspecified")
                        }
                    
                    </td>

                    <td nowrap="nowrap">
                        @if (!formatTypes.ContainsKey(resource.Format))
                        {
                            <a href="@resource.Url" class="action">Download</a>
                        }
                        else
                        {
                            foreach (var action in formatTypes[resource.Format].Actions)
                            {
                                <a href="@action.BuildUrl(resource.Url)" class="action">@action.Action</a>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        </section>
    }
    
    @* Show the package details*@
        <section class="container">
            <h2>Details</h2>
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    
                @if (!String.IsNullOrEmpty(Model.Author))
                {
                    <tr>
                        <th>
                            Author
                        </th>
                        <td>
                            @Model.Author
                        </td>
                    </tr>
                }
                
                @if (!String.IsNullOrEmpty(Model.AuthorEmail))
                {
                    <tr>
                        <th>
                            Author Email
                        </th>
                        <td>
                            @Model.AuthorEmail
                        </td>
                    </tr>
                } 
                
                @if (!String.IsNullOrEmpty(Model.Version))
                {
                    <tr>
                        <th>
                            Version
                        </th>
                        <td>
                            @Model.Version
                        </td>
                    </tr>
                }  
                              
                @if (Model.Extras.Count > 0)
                {
                    
                    foreach (var key in Model.Extras.Keys)
                    {
                        if (!String.IsNullOrEmpty(Model.Extras[key]))
                        {
                        <tr>
                            <th>
                                @SettingsHelper.GetPackageExtraFieldLabel(key)
                            </th>
                            <td>
                                @Model.Extras[key]
                            </td>
                        </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </section>
    
    
</div>
